@import "tailwindcss";

@layer base {
	:root {
		/* --background: 0 0% 100%; */
		--background: 200 5% 94%;
		--foreground: 200 10% 10%;

		--card: 200 10% 98%;
		--card-foreground: 200 10% 10%;

		--popover: 0 0% 100%;
		--popover-foreground: 200 10% 10%;

		--muted: 200 10% 80%;
		--muted-foreground: 200 10% 60%;

		--primary: 75 100% 55%;
		--primary-hover: 75 100% 65%;
		--primary-foreground: 200 10% 10%;

		--secondary: 200 10% 10%;
		--secondary-foreground: 200 10% 90%;

		--accent: 200 10% 90%;
		--accent-foreground: 200 10% 10%;

		--destructive: 355 85% 60%;
		--destructive-foreground: 0 0% 100%;

		--border: 200 10% 90%;
		--input: 200 10% 96%;
		--ring: 200 20% 5%;
		--radius: 12px;

		--success: theme(--color-lime-700);
		--alert: theme(--color-yellow-800);
		--error: theme(--color-rose-600);
	}

	.dark {
		--background: 220 30% 2%;
		--card: 220 25% 12%;
		--popover: 220 12% 13%;
		--primary: 80 90% 50%;
		--secondary: 210 15% 20%;
		--muted: 220 10% 25%;
		--accent: 220 12% 22%;
		--destructive: 350 75% 45%;

		--foreground: 210 12% 98%;
		--card-foreground: 210 15% 90%;
		--popover-foreground: 210 15% 90%;
		--secondary-foreground: 220 15% 90%;
		--muted-foreground: 210 10% 50%;
		--accent-foreground: 210 15% 90%;
		--destructive-foreground: 250 20% 98%;
		--border: 220 10% 20%;
		--input: 220 10% 10%;
		--ring: 80 90% 50%;
	}

	.fuchsia {
		--primary: 300 100% 50%;
		--primary-hover: 300 100% 65%;
		--ring: 300 100% 50%;
	}

	.indigo {
		--primary: 250 100% 55%;
		--primary-hover: 250 100% 45%;
		--primary-foreground: 0 0% 100%;
		--ring: 250 100% 55%;
	}

	.carmin {
		--primary: 350 100% 55%;
		--primary-hover: 345 100% 45%;
		--primary-foreground: 0 0% 100%;
		--ring: 350 100% 55%;
	}

	* {
		@apply border-border;
	}
}

@font-face {
	font-family: "PP Object Sans";
	src: url("/object-sans/subset-PPObjectSans-Bold.woff2") format("woff2"),
		url("/object-sans/subset-PPObjectSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Object Sans";
	src: url("/object-sans/subset-PPObjectSans-Light.woff2") format("woff2"),
		url("/object-sans/subset-PPObjectSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Object Sans";
	src: url("/object-sans/subset-PPObjectSans-LightSlanted.woff2")
			format("woff2"),
		url("/object-sans/subset-PPObjectSans-LightSlanted.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "PP Object Sans";
	src: url("/object-sans/subset-PPObjectSans-Medium.woff2") format("woff2"),
		url("/object-sans/subset-PPObjectSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Object Sans";
	src: url("/object-sans/subset-PPObjectSans-Regular.woff2") format("woff2"),
		url("/object-sans/subset-PPObjectSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Object Sans Slanted";
	src: url("/object-sans/subset-PPObjectSans-Slanted.woff2") format("woff2"),
		url("/object-sans/subset-PPObjectSans-Slanted.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@theme {
	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-ring: hsl(var(--ring));
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));

	--color-primary: hsl(var(--primary));
	--color-primary-hover: hsl(var(--primary-hover));
	--color-primary-foreground: hsl(var(--primary-foreground));

	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));

	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));

	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));

	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));

	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));

	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));

	--color-success: var(--success);
	--color-alert: var(--alert);
	--color-error: var(--error);

	--radius-xs: calc(var(--radius) - 8px); /*  4 */
	--radius-sm: calc(var(--radius) - 4px); /*  8 */
	--radius-md: calc(var(--radius) + 2px); /* 14 */
	--radius: var(--radius);
	--radius-lg: calc(var(--radius) + 4px); /* 16  */
	--radius-xl: calc(var(--radius) + 8px); /* 20 */

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	--font-sans: "PP Object Sans", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}

		to {
			height: "0";
		}
	}
}

body {
	@apply bg-background text-foreground antialiased;
}

.glass {
	@apply bg-popover rounded-xl shadow-2xl border-0 py-4;
}

.bg-label {
	@apply flex gap-2 px-4 text-xl text-foreground font-medium tracking-tighter;
}
.bg-item {
	@apply flex gap-2 rounded-md px-4;
}

.bg-select-item {
	@apply rounded-md pr-4 pl-8;
}

.debug-1 {
	@apply border-2 border-[#f00];
}
.debug-2 {
	@apply border-2 border-[#ff0];
}
.debug-3 {
	@apply border-2 border-[#0f0];
}
.debug-4 {
	@apply border-2 border-[#0ff];
}
.debug-5 {
	@apply border-2 border-[#00f];
}
.debug-6 {
	@apply border-2 border-[#f0f];
}

.action-item {
	@apply ring-ring ring-offset-background bg-card hover:bg-popover relative flex w-full rounded-md focus:ring-offset-2 outline-hidden select-none focus-within:ring-2 focus:ring-2 shadow-sm hover:z-10 transition-[colors_shadow] hover:shadow-lg cursor-pointer  inset-shadow-xs inset-shadow-white;
}

.action-item-block {
	@apply bg-card hover:bg-popover isolate rounded-lg px-6 py-4;
}

.action-sprint {
	@apply bg-primary text-primary-foreground hover:bg-primary-hover;
}

.action-row {
	@apply px-3 py-2;
}

.dark .action-item.action-delayed {
	@apply bg-rose-950 text-rose-100;
}
.action-item.action-delayed {
	@apply bg-rose-50 text-rose-700;
}

.action-content-delayed > .late-border {
	@apply block;
}

.editor-tiptap {
	@apply flex min-h-[30vh] flex-col h-full overflow-y-auto;
}

.editor-tiptap > div:nth-child(2) {
	@apply flex flex-1 shrink-0 flex-col;
}

.tiptap {
	@apply flex-1 shrink-0 text-xl outline-hidden;
}

.tiptap > * {
	@apply mb-2;
}

.tiptap h1 {
	@apply text-5xl font-bold tracking-tight;
}
.tiptap h2 {
	@apply text-3xl font-bold tracking-tight;
}
.tiptap h3 {
	@apply text-2xl font-bold tracking-wide uppercase;
}
.tiptap h4 {
	@apply text-2xl font-bold tracking-tight;
}
.tiptap h5 {
	@apply text-xl font-bold tracking-wider uppercase;
}

.tiptap ul,
ol {
	padding: 0 2rem;
}

.tiptap ul {
	list-style: disc;
}
.tiptap ol {
	list-style: decimal;
}

.tiptap hr {
	@apply border-t;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.animate-colors {
	animation: AnimateColors 1s linear infinite;
}

@keyframes AnimateColors {
	0% {
		color: #fc0;
	}
	10% {
		color: #f64;
	}
	30% {
		color: #e6a;
	}
	50% {
		color: #90f;
	}
	60% {
		color: #06f;
	}
	90% {
		color: #0e9;
	}
	100% {
		color: #fc0;
	}
}

.button-trigger {
	@apply ring-ring ring-offset-background hover:bg-secondary rounded-md border-none px-3 py-2 text-sm font-medium ring-offset-2 outline-hidden focus:ring-2;
}

.button-trigger__squared {
	@apply px-2;
}

.timer-circle {
	stroke-dasharray: 44; /* Aproximadamente 2 * PI * raio */
	stroke-dashoffset: 44;
	animation: timer 15s linear forwards;
}

@keyframes timer {
	to {
		stroke-dashoffset: 0;
	}
}

.item-container {
	@apply transition;
}

.dragover {
	/* @apply border-primary bg-primary/10; */
	/* @apply bg-primary/75 z-0; */
	@apply bg-accent z-0;
}
/* .dark .dragover {
	@apply bg-secondary z-0;
} */

.scrollbars-v {
	@apply mr-1 h-full overflow-hidden overflow-y-auto px-1;
}

.scrollbars-v::-webkit-scrollbar {
	@apply block w-1;
}

.scrollbars-v::-webkit-scrollbar-button {
	@apply hidden;
}

.scrollbars-v::-webkit-scrollbar-track {
	@apply bg-transparent;
}
.scrollbars-v::-webkit-scrollbar-track-piece {
	@apply bg-transparent;
}

.scrollbars-v::-webkit-scrollbar-thumb {
	@apply rounded-full;
}

.scrollbars-h {
	@apply mb-1 h-full overflow-x-auto overflow-y-hidden py-1;
	scrollbars-gutter: stable;
}

.scrollbars-h::-webkit-scrollbar {
	@apply block h-2;
}

.scrollbars-h::-webkit-scrollbar-button {
	@apply hidden;
}

.scrollbars-h::-webkit-scrollbar-track {
	@apply bg-transparent;
}
.scrollbars-h::-webkit-scrollbar-track-piece {
	@apply mx-1 bg-transparent;
}
.scrollbars-h::-webkit-scrollbar-thumb {
	@apply h-2 rounded-full;
}

.scrollbars-h::-webkit-scrollbar-thumb,
.scrollbars-v::-webkit-scrollbar-thumb {
	@apply bg-secondary/10;
}
